<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Recipes</title>
</head>
<body>
<h1>My Recipes guys</h1>

<table>
    <thead></thead>
    <tbody>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Ingredients</th>
    </tr>

    <tr th:each="recipe: ${recipes}">
        <td th:text="${recipe.id}">123</td>
        <td th:text="${recipe.description}">trolling</td>
<!--        <td th:text="${recipe.ingredientSet}">Oups</td>-->
    </tr>
    </tbody>
</table>
</body>
</html>